@()

@layout("Start Page") {

<h2>Enter Your Number here:</h2>
<form class="form-horizontal" role="form" id="searchForm">
    <div class="row">
        <div class="form-group">
            <label class="sr-only" for="number">Your Number</label>
            <div class="col-md-9">
                <input class="form-control" type="text" id="number" name="number" placeholder="Your Number" />
            </div>
            <div class="col-md-3">
                <input class="form-control" type="button" id="submit" value="Search" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <div class="col-md-8">
                <label for="minWordLength">Minimal length of a word:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" type="number" name="minWordLength" id="minWordLength" value="3" />
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-8">
                <label for="maxDigitsInRow">Maximum digits in a row:</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" type="number" name="maxDigitsInRow" id="maxDigitsInRow" value="5" />
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-md-8">
                <label for="removeSeperators">
                    Remove seperator characters:
                </label>
            </div>
            <input type="checkbox" id="removeSeperators" />

        </div>

    </div>



    <br />
</form>
<h3>Results:</h3>
<small>Count: <span id="count"></span></small>
<div class="well" id="results">
</div>


}
